*.tar.gz
*.log
*.out

contacts.txt
output.txt
files.txt
secret.txt

c-programs/add
c-programs/advanced-c
c-programs/contacts
c-programs/factorial
c-programs/hello
c-programs/intermediate-c

shell-scripts/contacts
shell-scripts/contacts.txt
